<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>online courses</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
        <servlet-name>ServletCurso</servlet-name>
        <servlet-class>controladores.ServletCurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletImg</servlet-name>
        <servlet-class>controladores.ServletImg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUsuario_login</servlet-name>
        <servlet-class>controladores.ServletUsuario_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLinker</servlet-name>
        <servlet-class>controladores.ServletLinker</servlet-class>
        <!--load-on-startup>1</load-on-startup-->
    </servlet>
    <!--servlet>
        <servlet-name>ServletPersona</servlet-name>
        <servlet-class>controladores.ServletPersona</servlet-class>
    </servlet-->
    <servlet>
        <servlet-name>ServletContenido</servlet-name>
        <servlet-class>controladores.ServletContenido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTema</servlet-name>
        <servlet-class>controladores.ServletTema</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCurso</servlet-name>
        <url-pattern>/ServletCurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletImg</servlet-name>
        <url-pattern>/ServletImg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUsuario_login</servlet-name>
        <url-pattern>/ServletUsuario_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUsuario_login</servlet-name>
        <url-pattern>/perfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUsuario_login</servlet-name>
        <url-pattern>/cambiarPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUsuario_login</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLinker</servlet-name>
        <url-pattern>/ServletLinker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLinker</servlet-name>
        <url-pattern>/Cursos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLinker</servlet-name>
        <url-pattern>/inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLinker</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name/>
        <servlet-name>Peticiones</servlet-name>
        <servlet-class>controladores.Peticiones</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Peticiones</servlet-name>
        <url-pattern>/verCursos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Peticiones</servlet-name>
        <url-pattern>/Usuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Peticiones</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Peticiones</servlet-name>
        <url-pattern>/addContenido</url-pattern>
    </servlet-mapping>
    <!--servlet-mapping>
        <servlet-name>ServletPersona</servlet-name>
        <url-pattern>/ServletPersona</url-pattern>
    </servlet-mapping-->
    <servlet-mapping>
        <servlet-name>ServletContenido</servlet-name>
        <url-pattern>/ServletContenido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTema</servlet-name>
        <url-pattern>/ServletTema</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <jsp-config>
        <!--PARA VISITANTE-->
        <jsp-property-group>
            <description>header and footer settings</description>
            <url-pattern>/WEB-INF/main/*</url-pattern>
            <url-pattern>/WEB-INF/usuario/indexUsuario.jsp</url-pattern>
            <!--url-pattern>/WEB-INF/layout/*</url-pattern-->
            <include-prelude>/WEB-INF/layout/head.jspf</include-prelude>
            <include-coda>/WEB-INF/layout/footer.jspf</include-coda>
        </jsp-property-group>
        <jsp-property-group>
            <url-pattern>*.jspf</url-pattern>
        </jsp-property-group>
        <!--PARA ADMINISTRADOR
        <jsp-property-group>
            <description>header and footer settings</description>
            <url-pattern>*.jsp</url-pattern>
            <url-pattern>/WEB-INF/views/*</url-pattern>
             <url-pattern>/WEB-INF/layout/*</url-pattern>
            <include-prelude>/WEB-INF/layout/head.jspf</include-prelude>
            <include-coda>/WEB-INF/layout/footer.jspf</include-coda>
        </jsp-property-group-->
    </jsp-config>
</web-app>